<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>お知らせ作成 | 回覧板</title>
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="#" th:href="@{/}">TOP</a></li>
        <li class="breadcrumb-item"><a href="#" th:href="@{/notice}">お知らせ一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">お知らせ作成</li>
    </ol>
</nav>

<h1 class="mt-5">お知らせ作成</h1>
<form action="?" th:method="post" th:object="${noticeForm}" enctype="multipart/form-data">
    <div class="mt-3">
        <label for="titleInput" class="form-label">タイトル</label>
        <input type="text" id="titleInput" th:field="*{title}" class="form-control" th:classappend="${#fields.hasErrors('title')} ? is-invalid" th:value="${title}">
        <p class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">(error)</p>
    </div>
    <div class="mt-3">
        <label for="contentsInput" class="form-label">内容</label>
        <textarea id="contentsInput" row="10" th:field="*{contents}" class="form-control" th:classappend="${#fields.hasErrors('contents')} ? is-invalid" th:text="${contents}"></textarea>
        <p class="invalid-feedback" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">(error)</p>
    </div>

    <!--    PDFファイルのアップロード機能-->
    <div th:if="${message}" class="mt-10">
        <h2 th:text="${message}"></h2>
    </div>

    <div class="mt-3">
            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="btn btn-secondary" th:formaction="@{/upload}">アップロード</button></td>
                </tr>
            </table>
    </div>

    <div class="mt-3">
        <ul>
            <li th:each="file : ${files}">
                <label>
                <input type="checkbox" name="selectedFiles" th:value="${file}">
                <a th:href="${file}" th:text="${file}" target="_blank"></a>
                </label>
            </li>
        </ul>
        <button type="submit" class="btn btn-outline-primary" th:if="${not #lists.isEmpty(files)}" th:formaction="@{/cancel}">ファイルを取り消し</button>
    </div>

    <div class="mt-5"></div> <!-- マージンを追加 -->

    <!--    返答依頼ラジオボタン-->
    <div class="mt-3">
        <label class="form-label" for="request_for_replyRadio">返答依頼フォーム表示</label>
        <div id="request_for_replyRadio">
            <div class="form-check">
                <input class="form-check-input" type="radio" id="request_for_replyNoRadio" th:field="*{request_for_reply}" value=0 checked="checked">
                <label class="form-check-label" for="request_for_replyNoRadio">無し</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="request_for_replyYesRadio" th:field="*{request_for_reply}" value=1>
                <label class="form-check-label" for="request_for_replyYesRadio">有り</label>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <button type="submit" class="btn btn-secondary" th:formaction="@{/draft/save}">下書き保存</button>
        <button type="submit" class="btn btn-primary" th:formaction="@{/notice/creation}">公開</button>
    </div>
</form>
</body>
</html>