<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>お知らせ詳細 | 回覧板</title>
</head>
<body>
<h1 class="mt-3"></h1>
<div>
    <h2 th:text="${notice.title}">(タイトル)</h2>
    <p th:text="${notice.contents}">(内容)</p>
    <p th:text="${notice.updated_datetime}">(更新日時)</p>
</div>

<div class="mt-3">
    <label class="form-label">添付ファイル</label>
    <p th:if="${files.size eq 0}">添付ファイルは登録されていません。</p>
    <ul>
        <li th:each="file : ${files}">
            <label>
                <a th:href="${file}" th:text="${file}" target="_blank"></a>
            </label>
        </li>
    </ul>
</div>

<div class="mt-5"></div> <!-- マージンを追加 -->

<!--    返答チェックボックス追加-->
<div class="mt-3">
    <div class="d-flex gap-1" sec:authorize="hasAuthority('USER')">
        <form action="#" th:action="@{/notice/attendance/{noticeId}(noticeId=${notice.id})}" th:method="post"
              th:object="${attendanceForm}" enctype="multipart/form-data">
            <input type="hidden" id="sent" th:field="*{send_flg}"/>
            <div th:if="${notice.request_for_reply eq 1}">
                <div class="mt-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="attendanceCheck"
                               th:field="*{attendance_check}" value=1/>
                        <label class="form-check-label" for="attendanceCheck">参加する</label>
                    </div>
                </div>
                <div>
                    <div th:if="${attendanceForm.send_flg eq 'NOTYET'}">
                        <button type="submit" class="btn btn-primary" id="submit-btn" disabled>送信</button>
                    </div>
                    <div th:if="${attendanceForm.send_flg eq 'DONE'}" class="d-inline-block" tabindex="0"
                         data-bs-toggle="tooltip" data-bs-placement="right" title="送信済です。">
                        <button type="submit" class="btn btn-primary" disabled>送信</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <div class="d-flex gap-1" sec:authorize="hasAuthority('ADMIN')">
        <a href="./editForm.html" th:href="@{/notice/editForm/{noticeId}(noticeId=${notice.id})}">
            <button class="btn btn-secondary">編集</button>
        </a>
        <form action="#" th:action="@{/notice/delete/{noticeId}(noticeId=${notice.id})}" th:method="post"
              th:object="${noticeForm}" enctype="multipart/form-data">
            <button type="submit" class="btn btn-danger">削除</button>
        </form>
    </div>
</div>

<script th:src="@{/js/noticeDetail.js}"></script>
</body>
</html>