<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>お知らせ詳細 | 回覧板</title>
</head>
<body>
<h1 class="mt-3"></h1>
<div>
    <h2 th:text="${notice.title}">(タイトル)</h2>
    <p th:text="${notice.contents}">(内容)</p>
    <p th:text="${notice.updated_datetime}">(更新日時)</p>
</div>

<div class="mt-3">
    <label class="form-label">添付ファイル</label>
    <ul>
        <li th:each="file : ${files}">
            <label>
                <a th:href="${file}" th:text="${file}" target="_blank"></a>
            </label>
        </li>
    </ul>
</div>

<div class="mt-3">
    <div class="d-flex gap-1">
        <a href="./editForm.html" th:href="@{/notice/editForm/{noticeId}(noticeId=${notice.id})}">
            <button class="btn btn-secondary">編集</button>
        </a>
        <form action="#" th:action="@{/notice/delete/{noticeId}(noticeId=${notice.id})}" th:method="post" th:object="${noticeForm}" enctype="multipart/form-data">
            <button type="submit" class="btn btn-danger">削除</button>
        </form>
    </div>
</div>
</body>
</html>