<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>お知らせ一覧 | 回覧板</title>
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="#" th:href="@{/}">TOP</a></li>
        <li class="breadcrumb-item active" aria-current="page">お知らせ一覧</li>
    </ol>
</nav>

<h1 class="mt-5">お知らせ一覧</h1>

<div class="dropdown mt-3" sec:authorize="hasAuthority('ADMIN')">
    <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-pencil-fill me-2"></i>作成
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="./creationForm.html" th:href="@{/notice/creationForm}">新規作成</a></li>
        <li><a class="dropdown-item" href="../draft/list.html" th:href="@{/draft/list}">下書き一覧</a></li>
    </ul>
</div>
<div class="table-responsive-xxl mt-5">
    <table class="table text-nowrap table-hover">
        <thead>
        <tr>
            <th></th>
            <th>タイトル</th>
            <th>内容</th>
            <th>返答依頼</th>
            <th>更新日時</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${noticeList}">
            <td><a href="./detail.html" th:href="@{/notice/{noticeId}(noticeId=${notice.id})}" class="text-decoration-none"><i class="bi bi-info-circle me-2"></i>詳細</a></td>
            <td th:text="${notice.title}">(タイトル)</td>
            <td th:text="${notice.contents}" style="white-space:pre-wrap; word-wrap:break-word;">(内容)</td>

            <div th:if="${notice.request_for_reply eq 1}">
            <td sec:authorize="hasAuthority('ADMIN')"><a href="#" th:href="@{/attendance/{noticeId}(noticeId=${notice.id})}" class="text-decoration-none"><i class="bi bi-check2-circle me-2"></i>あり</a></td>
            </div>
            <div th:if="${notice.request_for_reply eq 0}">
                <td sec:authorize="hasAuthority('ADMIN')"></td>
            </div>

            <td sec:authorize="hasAuthority('USER')" th:text="${notice.request_for_reply}">(返答依頼)</a></td>

            <td th:text="${notice.updated_datetime}">(更新日時)</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>