<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>登録情報 | 回覧板</title>
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="#" th:href="@{/}">TOP</a></li>
        <li class="breadcrumb-item" sec:authorize="hasAuthority('ADMIN')"><a href="#" th:href="@{/user}">ユーザー一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">登録情報</li>
    </ol>
</nav>

<h1 class="mt-5">登録情報</h1>
<table class="table" style="width: 60%">
    <input type="hidden" id="ownId" th:field="*{ownId}"/>
    <tr class="align-middle">
        <td>権限</td>
        <td th:text="${user.authority}">(権限)</td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a href="./changeAuthorityForm.html" th:href="@{/user/changeAuthorityForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td rowspan="2">基本情報</td>
        <td th:text="${user.fullname}" style="border-bottom-style:none">(世帯主名)</td>
    </tr>
    <tr>
        <td th:text="${user.address}">(住所)</td>
        <td>
            <a href="./changeBasicInfoForm.html" th:href="@{/user/changeBasicInfoForm/{userId}(userId=${user.id})}">
                <button class="btn btn-outline-primary">変更</button>
            </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td>ユーザー名</td>
        <td th:text="${user.username}">(ユーザー名)</td>
        <td>
            <div th:if="${user.id eq ownId}">
                <a href="./changeUsernameForm.html" th:href="@{/user/changeUsernameForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td>パスワード</td>
        <td>********</td>
        <td>
            <div th:if="${user.id eq ownId}">
                <a href="./changePasswordForm.html" th:href="@{/user/changePasswordForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
</table>
<div class="mt-5">
    <div sec:authorize="hasAuthority('ADMIN')">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            削除
        </button>

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel"><i class="bi bi-exclamation-circle me-2"></i>確認
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>削除してよろしいですか？削除したユーザーは復旧できません。</p>
                    </div>
                    <div class="modal-footer">
                        <form action="#" th:action="@{/user/delete/{userId}(userId=${user.id})}" th:method="post">
                            <button type="submit" class="btn btn-primary">OK</button>
                        </form>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">キャンセル
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>