<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>登録情報 | 回覧板</title>
</head>
<body>
<h1 class="mt-3">登録情報</h1>
<table class="table" style="width: 60%">
    <tr class="align-middle">
        <td>権限</td>
        <td th:text="${user.authority}">(権限)</td>
        <td>
            <div sec:authorize="hasAuthority('ADMIN')">
                <a href="./changeAuthorityForm.html" th:href="@{/user/changeAuthorityForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td rowspan="2">基本情報</td>
        <td th:text="${user.fullname}" style="border-bottom-style:none">(世帯主名)</td>
    </tr>
    <tr>
        <td th:text="${user.address}">(住所)</td>
        <td>
            <a href="./changeBasicInfoForm.html" th:href="@{/user/changeBasicInfoForm/{userId}(userId=${user.id})}">
                <button class="btn btn-outline-primary">変更</button>
            </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td>ユーザー名</td>
        <td th:text="${user.username}">(ユーザー名)</td>
        <td>
            <div sec:authorize="hasAuthority('USER')">
                <a href="./changeUsernameForm.html" th:href="@{/user/changeUsernameForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
    <tr class="align-middle">
        <td>パスワード</td>
        <td>********</td>
        <td>
            <div sec:authorize="hasAuthority('USER')">
                <a href="./changePasswordForm.html" th:href="@{/user/changePasswordForm/{userId}(userId=${user.id})}">
                    <button class="btn btn-outline-primary">変更</button>
                </a>
            </div>
        </td>
    </tr>
</table>
<div class="mt-3">
    <div sec:authorize="hasAuthority('ADMIN')">
        <form action="#" th:action="@{/user/delete/{userId}(userId=${user.id})}" th:method="post">
            <button type="submit" class="btn btn-danger">削除</button>
        </form>
    </div>
</div>
</body>
</html>