<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>ユーザー一覧 | 回覧板</title>
</head>
<body>
<h1 class="mt-3">お知らせ一覧</h1>
<a href="../index.html" th:href="@{/}">HOME</a>
<a href="./creationForm.html" th:href="@{/user/creationForm}">+新規作成</a>

<table class="table table-hover">
    <thead>
    <tr>
        <th>username</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
<!--        <td>-->
<!--            <a href="./detail.html" th:href="@{/notice/{noticeId}(noticeId=${notice.id})}" th:text="${notice.title}">(タイトル)</a>-->
<!--        </td>-->
        <td th:text="${user.username}">(ユーザー名)</td>
    </tr>
    </tbody>
</table>
</body>
</html>