<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>出席確認一覧 | 回覧板</title>
</head>
<body>
<h1 class="mt-3">出席確認一覧</h1>
<h2 class="mt-3" th:text="${replyForm.noticeTitle}">(タイトル)</h2>

<ul class="list-group list-group-horizontal list-group-item-primary mt-4">
    <li class="list-group-item" th:text="'全体数 : ' + ${replyForm.numberOfUsers} + '人'">(全体数)</li>
    <li class="list-group-item" th:text="'出席数 : ' + ${replyForm.numberOfAttendance} + '人'">(出席数)</li>
    <li class="list-group-item" th:text="'出席率 : ' + ${replyForm.rate} + '%'">(%)</li>
</ul>


<table class="table table-hover mt-3">
    <tbody>
    <tr th:each="attendance : ${attendanceList}">
        <td class="col-xs-5 col-sm-3 col-md-3 col-lg-3 col-xl-2" th:text="${attendance.fullname}">(名前)</td>
        <td th:text="${attendance.reply}">(出席欠席)</td>
    </tr>
    </tbody>
</table>
</body>
</html>