<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{ this :: title},~{ this :: body})}">
<head>
    <title>下書き一覧 | 回覧板</title>
</head>
<body>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item"><a href="#" th:href="@{/}">TOP</a></li>
        <li class="breadcrumb-item"><a href="#" th:href="@{/notice}">お知らせ一覧</a></li>
        <li class="breadcrumb-item active" aria-current="page">下書き一覧</li>
    </ol>
</nav>

<h1 class="mt-5">下書き一覧</h1>

<div class="table-responsive-xxl mt-5">
    <table class="table text-nowrap table-hover">
    <thead>
    <tr>
        <th></th>
        <th>タイトル</th>
        <th>内容</th>
        <th>返答依頼</th>
        <th>更新日時</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice : ${noticeList}">
        <td><a href="./detail.html" th:href="@{/draft/{noticeId}(noticeId=${notice.id})}" class="text-decoration-none"><i class="bi bi-info-circle me-2"></i>詳細</a></td>
        <td th:text="${notice.title}">(タイトル)</td>
        <td th:text="${notice.contents}" style="white-space:pre-wrap; word-wrap:break-word;">(内容)</td>

        <div th:if="${notice.request_for_reply eq 1}">
            <td><i class="bi bi-check2-circle me-2"></i>あり</a></td>
        </div>
        <div th:if="${notice.request_for_reply eq 0}">
            <td></td>
        </div>

        <td th:text="${notice.updated_datetime}">(更新日時)</td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>